i:hover {
    transition: 0.3s ease-in-out;
    color:black !important;
}

/* medium+ screen size */
@media (min-width: 992px) {
    .desktop-only {
        display:inline-block !important;
    }
    .mobile-only {
        display: none;
    }
}

@media (max-width: 991px) {
    .desktop-only {
        display:none;
    }

    .mobile-only {
        display: inline-block;
    }
}